#auth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .imageContainer {
  }

  .ant-card {
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    max-width: 500px;
    min-width: 500px;
    margin-top: calc(100px + 3rem);

    h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
    }

    .ant-btn {
      margin-top: 1rem;
      color: $white;
      border-color: $main-clr;
      background-color: $main-clr;

      &:hover {
        background-color: $l-blue;
        border-color: $l-blue;
      }
    }

    .ant-typography {
      a {
        color: $main-clr;
      }
    }
  }
}

@media (max-width: 500px) {
  #auth {
    .ant-card {
      max-width: 400px;
      min-width: 340px;

      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
