/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
*/
.navbar {
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  li {
    position: relative;
  }

  a,
  a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    color: #16507b;
    white-space: nowrap;
    transition: 0.3s;
  }

  a span,
  a:focus span {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  a:hover,
  .active,
  .active:focus,
  li:hover > a {
    color: $main-clr;
  }

  .getstarted,
  .getstarted:focus {
    background: $main-clr;
    padding: 8px 20px;
    margin-left: 8px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
  }
  .getstarted:hover,
  .getstarted:focus:hover {
    color: #fff;
    background: #3194db;
  }

  .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;

    li {
      min-width: 200px;
    }

    a {
      padding: 10px 20px;
      text-transform: none;
      span {
        font-size: 12px;
      }
    }
  }
  .dropdown ul a:hover,
  .dropdown ul .active:hover,
  .dropdown ul li:hover > a {
    color: $main-clr;
  }
  .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
    * Mobile Navigation 
    */
.mobile-nav-toggle {
  margin: 0 1rem;
  display: none !important;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: flex !important;
    margin: 0;

    .ant-space {
      .nav-link {
        padding: 10px 1rem;
        .text {
          display: none;
        }
      }
    }
    .getstarted {
      margin: 0;
    }
  }

  .navbar ul {
    display: none;
  }
}
