@import 'config';

body {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
}

a {
  color: $main-clr;
  text-decoration: none;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

@import 'header';
@import 'navbar';
@import 'hero';

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
.section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f8fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #124265;
}
.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #919191;
}

@import 'about';
@import 'services';
@import 'team';
@import 'pricing';
@import 'faq';
@import 'contact';
@import 'footer';

/*--------------------------------------------------------------
  # Cta
  --------------------------------------------------------------*/
.cta {
  background: $main-clr;
  background-size: cover;
  padding: 80px 0;
}
.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.cta p {
  color: #fff;
}
.cta .cta-btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.cta .cta-btn:hover {
  background: #fff;
  color: $main-clr;
}
